/* @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap"); */
@import "tailwindcss";

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.app {
  width: 100%;
  margin: auto;
  background-color: #f3f4f6;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 1050px) {
  .app {
    width: 90%;
  }
}
